<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-12">
        <p>Online status: {{chatStatus}}</p>
        <button class="btn" (click)="connect()" [disabled]="chatStatus === 'Connected'">Connect</button>
        <button class="btn" (click)="disconnect()" [disabled]="chatStatus !== 'Connected'">Disconnect</button>
        <br/>
        <form class="clr-form clr-form-horizontal">
          <div class="clr-form-control">

            <label for="message" class="clr-control-label">Message</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input [(ngModel)]="message" type="text" id="message" name="message" size="50"
                       placeholder="message" class="clr-input"/>
              </div>
            </div>
          </div>
          <div class="clr-form-control">
            <div class="clr-control-container">
              <button type="submit" class="btn btn-primary btn-block" (click)="sendMessage()"
                      [disabled]="chatStatus !== 'Connected'">Send
              </button>
            </div>
          </div>
        </form>

        <table class="table">
          <caption>
            Chat Messages
          </caption>
          <thead>
          <th class="left">From</th>
          <th class="left">Message</th>
          <th class="left">Sent At</th>
          </thead>
          <tbody>
          <tr *ngFor="let msg of messageList">
            <td class="left">{{msg.from}}</td>
            <td class="left">{{msg.text}}</td>
            <td class="left">{{msg.sentAt}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
